h1, h3 {
    color:white;
}
h1 {
    background-color: black;
    font-size: 50px;
}
h3 {
    background-color: rgb(91, 45, 134);
    text-align: center;
    font-style: italic;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 35px;
}
h4 {
    color:black;
    background-color: rgb(112, 182, 240);
    text-align: right;
    font-size: 30px;
    font-weight: normal;
}
span {
    padding:0;
}
h1, h3, h4 {
    padding: 10px;
    margin: 10px;
}
h1, h4 {
    font-family: sans-serif;
}