.page_content {
    padding: 30px;
}

div{
    margin-top: 15px;
}

button{
    cursor: pointer;
}

.button1 {
    color: rgb(12, 236, 218);
    background-color: white;
    padding: 5px 40px;
    border: rgb(12, 236, 218) solid 2px;
    border-radius: 20px;
    font-size: 15px;

}

.button2 {
    color: seashell;
    background-color: rgb(12, 236, 218);
    border-radius: 50%;
    border: none;
    padding: 0px 10px;
    font-size: 25px;
    
}

.button3 {
    color: seashell;
    background-color:rgb(14, 101, 231);
    padding: 4px 30px;
    box-shadow: 5px 5px black;
    font-size: 15px;

}